
<footer>

<ul>

    <li>SOCIAL</li>
    <li>Facebook</li>
    <li>Instagram</li>
    <li>YouTube</li>


    <li>MENU</li>
    <li>Voor Mini</li>
    <li>Vini Mini Producten</li>
    <li>Over ons</li>
    <li>Nieuws</li>
    <li>Contact</li>
    <li>Zoeken</li>

    <li>INFO & HELP</li>
    <li>Algemene voorwaarden</li>
    <li>Privacy voorwaarden</li>
    <li>Veelgestelde vragen</li>


</ul>

<p>© 2023. Alle rechten voorbehouden. Vinimini.</p> 

</footer>

</body>
</html>