
<footer>

 <ul class="footer_ul">

<div>
    <li>SOCIAL</li>
    <li>Facebook</li>
    <li>Instagram</li>
    <li>YouTube</li>
</div>  

<div>
    <li>MENU</li>
    <li>Voor Mini</li>
    <li>Vini Mini Producten</li>
    <li>Over ons</li>
    <li>Nieuws</li>
    <li>Contact</li>
    <li>Zoeken</li>
</div>

<div>
    <li>INFO & HELP</li>
    <li>Algemene voorwaarden</li>
    <li>Privacy voorwaarden</li>
    <li>Veelgestelde vragen</li>
</div>

</ul> 

<p class="copyright">© 2023. Alle rechten voorbehouden. Vinimini.</p> 

</footer>

</body>
</html>