<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css">
  <title>FDND SQUADPAGE B</title>
</head>

<nav class="tablet-desktop">
<ul>
  <li>
    <a href="views/index">
    Home</a>
  </li>
  <li><a href="views/all">All</a></li>
  <li>Noord-Holland</li>
  <li>Utrecht</li>
  <li>Flevoland</li>
</ul>
</nav>

<body>
