<%- include('./partials/head') %>

  <main>

    <div class="content">
      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>
    </div>

    <div class="content">
      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>
    </div>

    <div class="content">
      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>

      <article class="content_producten">
        <h1> </h1>
        <img src="" alt="">
        <button>Bekijk producten</button>
      </article>
    </div>

    
  </main>

  <%- include('./partials/foot') %>