<%- include('./partials/head') %>

  <main>

    <!-- VOORPAGINA!!!! -->
    <!-- MENU -->
    <nav>
      <h1>
        <%= squad.name %>
      </h1>
      <img class="menu-burger" src="/burger-bar.png" alt="icon-burger-menubar">
    </nav>


    <!-- INTRO TEKST -->
    <section>
      <p class="Hello">Hallo</p>
      <p>welkom op de squadpage van</p>
      <p class="squad">
        <%= squad.name %>
      </p>
    </section>

    <!-- IMG WITH COLOURS -->
    <section>
     <section><div class="vormgrijs"></div></section> 
      <section><div class="vormblauw"></div></section>
    </section>

    <img class="nederland" src="/746E01B4-AF7F-4933-94C5-8ED36E4FB0F3.png"
     alt="world-map-nederland"> 


    <!-- END VOORPAGINA!!!! -->



</main>

<%- include('./partials/foot') %>